{% extends "blog/base.html" %}
{% block content %}
<table class="table">
	<tbody>
		<tr>
			<th>User Name</th>
			<td>{{ user.username }}</td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td>{{ user.last_name }}</td>
		</tr>
		<tr>
			<th>First Name</th>
			<td>{{ user.first_name}}</td>
		</tr>
	</tbody>
</table>
<a href="{% url 'accounts:password_change' %}" class="btn btn-success btn-lg">Change Password</a>
<a href="{% url 'accounts:user_update' user.pk %}" class="btn btn-success btn-lg">Update User Info</a>
{% endblock %}