{% extends 'blog/base.html' %}

{% block content %}
	<div class="post about-author">
		<h1><em>About bichanna</em></h1>
		<image src="/media/images/neko-man copy.png" id="image">
		<p>Now below are my little trivias.　↓</p>
		<ul>
			<li>I am from Japan.</li>
			<li>I am 14 years old (a high school freshman).</li>
			<li>My hobbies are playing tennis, reading books, and playing piano (Though I'm not an active person).</li>
			<li>Things I hate : Being sent mean Emails, the smell of rotten tomatoes, meeting a person I don't know in person (physically), etc.</li>
			<li>Tennis Rackets I use : Pure Strike, Pure Aero, Yonex Vcore (I mainly use Pure Strike).</li>
		</ul>
	</div>
	<footer>
		<p>If you have any questions or requests, please contact me. But not freely.</p>
		<p><strong>Contact</strong> : nobu.bichanna@gmail.com</p>
	</footer>
{% endblock %}