{% extends 'blog/base.html' %}

{% block content %}
	<div class="post about-author">
		<h2>Contents</h2>
		<ul>
			<li>
				<a href="#about-this-website">About this website</a>
			</li>
			<li>
				<a href="#about-bichanna">About Bichanna</a>
			</li>
			<li>
				<a href="#about-this-website-2">This site's size</a>
			</li>
		</ul>
		
		<p></p>
		<p></p>
		<p></p>
		
		<h1 id="about-this-website"><em><strong>About This Website</strong></em></h1>
		<p>
			This website is for ones who can't remember all of the confusing mathematical terminologies. So, each post contains a rough meaning first, then the more precise explanation follows.
		</p>
		<p>
			I came up with this idea because I couldn't remember all of the difficult and sometimes confusing math terms. May be because I am not a native speaker, tough.
		</p>
		</p><p>
			Anyways, I wish you good luck!
		</p>
		<p></p>
		<p></p>
		<p></p>

		<h1 id="about-bichanna"><em><strong>About Nobu</strong></em></h1>
		<image id="about-page-necoman" src="/media/images/neko-man.png" alt="a catman with goatee and mustache illustration inspired by LHOOQ by Marcel Duchamp">
		<p>I'm a 15-year-old Japanese living in Chicago. Before I came here I lived in Canada for about a year, and I've been here approximately for a few months. So, I've been in North America approximately for a year and a half.</p>
		<p>I came up with creating my own website (I actually made this website on my own if you believe it or not!) about math just because I couldn't remember all of mathematical terminologies!</p>
		<p>When I'm not studing (because I don't have many friends), I enjoy playing tennis, piano, and of course coding!</p>

		<p></p>
		<p></p>
		<p></p>

		<h3 id="about-this-website-2">&nbsp;&nbsp;This site has {{users}} users.</h3>
		<p></p>
	</div>
	<footer>
		<p><strong>Contact</strong> : <a href="mailto:nobu.bichanna@gmail.com">nobu.bichanna@gmail.com</a></p>
		<!--<p>You see? I don't have any social media account!</p>-->
	</footer>
{% endblock %}





