{% extends 'blog/base.html' %}
{% block content %}
	<div class="post about-author">
		<h1><em><strong>About This Website</strong></em></h1>
		<p>click here to know more about <a href="/about-bichanna/">bichanna</a>!</p>
		<p>
			This website is for ones who can't remember all of the confusing mathematical terminologies. So, each post contains a rough meaning first, then the precise explanation follows.
		</p><p>
			I'm neither a professional programmer nor a professional web designer, so this website might looks unusual compared to other sites.
		</p><p>
			I wish you good luck with math!
		</p>
	</div>
	<footer>
		<p>If you have any questions or requests, please contact bichanna.</p>
		<p><strong>Contact</strong> : nobu.bichanna@gmail.com</p>
	</footer>
{% endblock %}