{% extends 'blog/base.html' %}

{% block content %}
	<div class="post about-author">
		<h1><em><strong>About bichanna</strong></em></h1>
		<image src="/media/images/neko-man-LHOOQ-real.png" id="image" alt="a catman with goatee and mustache illustration inspired by LHOOQ by Marcel Duchamp">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;↑ this illustration is inspired by LHOOQ by Marcel Duchamp<p>
		<p>I'm a Japanese teenager living in Chicago. Before I came here I lived in Canada for about a year, and I've been here approximately for a few months. So, I've been in North America approximately for a year and a half.</p>
		<p>I made the name, bichanna, by mixing up my sister's nickname and proper name. bichan + Anna = bichanna</p>
		<p>I came up with creating my own website (I actually made this website on my own if you believe it or not!) about math just because I couldn't remember all of mathematical terminologies!</p>
		<p>My little trivias.　↓</p>
		<ul>
			<li>I am from Japan.<br></li>
			<p></p>
			<li>I am 15 years old.<br></li>
			<p></p>
			<li>My hobbies are playing tennis, reading books, coding (as you can see), and playing piano (Though I'm not very good at it).<br></li>
			<p></p>
			<li>Things I hate : The smell of rotten tomatoes, meeting a person I don't know in person (physically), the texture after eating raw spinach (Though I don't mean I don't like the taste of it), etc.<br></li>
			<p></p>
			<li>Tennis Rackets I use : Pure Strike, Pure Aero, Yonex Vcore (I mainly use Pure Aero).</li>
		</ul>
	</div>
	<footer>
		<p>If you have any questions or requests, please contact me.</p>
		<p><strong>Contact</strong> : nobu.bichanna@gmail.com</p>
	</footer>
{% endblock %}