{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
	<head>
		{% bootstrap_css %}
		{% bootstrap_javascript jquery="slim" %}

		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/">bichanna's Math Blog</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav mr-auto">
					<!-- 左にメニューを出すとき-->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'blog:about_author' %}">&nbsp; About bichanna</a>
						<a class="nav-link" href="{% url 'blog:about_website' %}">About this website</a>
					</li>
				</ul>

				<ul class="navbar-nav">
					<!-- 右にメニューを出すとき -->
						<!-- search window-->
					<li class="nav-item">
						<form id="form" action="" method="GET">
							{{ form.key_word }}
							{% if form %}
							{% endif %}
						</form>
					</li>
					{% if user.is_authenticated %}
					{% if user.username == "bichanna"%}
					<!-- DROP DOWN MENU -->
					<li class="dropdown">
						<button class="dropbtn2">Settings<i class="fa fa-caret-down"></i></button>
						<div class="dropdown-content2">
							<a href="{% url 'accounts:user_detail' user.pk %}">User Info</a>
							<a href="{% url 'blog:post_review'%}">Draft List</a>
							<a href="{% url 'logout' %}">Log Out</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item">
							<a class="nav-link" href="{% url 'accounts:user_detail' user.pk %}">User Info</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{% url 'accounts:user_update' user.pk %}">User Info Update</a>
						</li>
						<li class="nav-item">
							<a class="nav-link"href="{% url 'logout' %}">Log Out</a>
						</li>
					{% endif %}
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'accounts:user_create' %}">Sign Up!</a>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Log In</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}

					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>










