{% extends 'blog/base.html' %}

{% load bootstrap4 %}
{% block content %}
	<form id="form" action="" method="GET">
		{% bootstrap_field form.key_word placeholder="検索キーワード" %}
		<button type="submit" class="btn btn-primary btn-lg">検索</button>
	</form>
	
	{% for post in post_list %}
		<div class="post">
			<p class="date">published: {{ post.published_date }}, by:{{ post.author.username }}</p>
			<h2><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}

{% include "blog/page.html" %}
{% endblock %}