{% extends 'blog/base.html' %}
{% block content %}
	<div class="dropdown first">
		<button class="dropbtn">Sort by <i class="fa fa-caret-down"></i></button>
		<div class="dropdown-content">
			<a href="{% url 'blog:post_list'%}?sort=new">New</a>
			<a href="{% url 'blog:post_list'%}?sort=old">Old</a>
		</div>
	</div>
	{% for post in post_list %}
		<div class="post">
			<p class="date">published: {{ post.published_date|date:"M d, Y" }}, by: Nobu</p>
			<h2><a class="post_link" href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<!--<p>{{ post.text|linebreaksbr }}</p>-->
		</div>
	{% endfor %}

	{% include "blog/page.html" %}
{% endblock %}