{% extends 'blog/base.html' %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date|date:"M d, Y" }}
			</div>
		{% endif %}
		<h2>{{ post.title }}</h2>
		<p></p>
		<p>{{ post.text|linebreaksbr }}</p>
		
	
		{% if post.image %}
			<p><image id="image" src="{{post.image.url}}" alt="Image not supported" ></p>
		{% else %}
			<p></p>
		{% endif %}


		<!--<a href="#" class="preference" onClick="document.getElementById('likebutton').submit()">👍</a> {{post.likes}}   |   <a href="#" class="preference" onClick="document.getElementById('dislikebutton').submit()">👎</a> {{post.dislikes}}

		<form id="likebutton" method="POST" action="/post/{{post.id}}/preference/1/">
		{% csrf_token %}
		<input type="hidden">
		</form>

		<form id="dislikebutton" method="POST" action="/post/{{post.id}}/preference/2/">
		{% csrf_token %}
		<input type="hidden">
		</form>-->
	</div>
	<div>
		<!-- Here, I'm planning to put recommended related posts -->
	</div>
	{% if post.author == user %}
		<div class="mt-3 mb-5">
			{% if not post.published_date %}
				<a class="btn btn-primary btn-lg" href="{% url 'blog:publish' post.pk %}">Publish</a>
			{% endif %}
			<a class="btn btn-primary btn-lg" href="{% url 'blog:post_update' post.pk %}">Update</a>
			<a class="btn btn-danger btn-lg" href="{% url 'blog:post_delete' post.pk %}">Delete</a>
		</div>
	{% endif %}
	<div>
		{% if request.path == "/1/" %}
			<p></p>
		{% else %}
			<a href="{% url 'blog:post_detail' pk=post.pk|add:'-1' %}">[Previous]</a>
		{% endif %}
		{% if request.path == latest %}
			<p></p>
		{% else %}
			<a href="{% url 'blog:post_detail' pk=post.pk|add:'1' %}">[Next]</a>
		{% endif %}

	</div>
{% endblock %}





