h1 a, h2 a {
	color: #DE781F;
}

html {
	font-size: 63.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.4rem;
	/*font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;*/
	font-family: 'Ubuntu Mono', monospace;
}

footer {
	position: relative;
	background-color: rgba(222,120,31,0.50);
	background-size: cover;
	margin-bottom: 60px;
	opacity: 100%;
}

.signUp {
	margin-right: 12px;
	border:5px;
	background-color: rgba(222,120,31,0.68);
}

.home {
	background-color: rgba(222,115,31,0.5);
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.search-bar {
	border-radius: 10px;
}

#image {
	max-width: 500px;
	max-height: 400px;
}
#image2{
	max-width: 250px;
	max-height: 200px;
}

#about-page-necoman{
	max-height: 200px;
}

#form {
	margin-right: 35px;
}

.search-botton {
	border-radius: 10px;
	background-color: #DE781F;
	transition: background-color 0.2s;
}

.search-botton:hover {
	background-color: rgba(255,255,0,.5);
}

.post_link{
	color: rgba(222,120,31,1) !important;
}

.navbar {
	font-size: 2.0rem;
	background-color: rgba(222,120,31,1);
	color: rgba(255,255,255,1);
	padding: 20px 20px 20px 40px;
	transition: background-color 0.2s;
}
.about-author{
	background-color: rgba(222,120,31,0.68);
}
.about-author p {
	padding: 7px;
}

.navbar .navbar-brand {
	font-size: 3.0rem;
	background-color: rgba(222,120,31,1);
	color: rgba(255,255,255,1);
	transition: background-color 0.2s;

}

.navbar-light .navbar-nav .nav-link {
	background-color: rgba(222,120,31,1);
	color: rgba(255,255,255,1);
	transition: background-color 0.2s;
	border-radius: 10px;
	font-size: 82%;
	font-weight: normal;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	background-color: rgba(255,255,0,.5);
	color: rgba(255,255,255,1);
	border-radius: 10px;
	font-size: 82%;
}

.content {
	margin-top: 40px;
	margin-left: 130px;
}

.date {
	color: #828282;
}

.expensess {
	margin-bottom: 70px;
}

.expensess h2 a, .post h2 a:visited {
	color: #000000;
}
tbody tr.clickable:hover td {
	background: #DE781F;

	cursor: pointer;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  transition: background-color,0.2s;
}
.first {
	margin-bottom: 30px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #Efa769;
}



/* Dropdown Button */
.dropbtn2 {
  background-color: #DE781F;
  color: white;
  padding: 9px;
  font-size: 21px;
  border: none;
  border-radius: 3px;
  transition: background-color, 0.2s;
}
/* Dropdown Button */
.dropbtn {
  background-color: #DE781F;
  color: white;
  padding: 7px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  transition: background-color, 0.1s;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 3;
}


/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  /*padding: 3px;*/
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 3px;
  text-decoration: none;
  display: block;
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 3;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #ddd;}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content2 {
	display: block;
}

.dropdown-content2 a:hover {background-color: #ddd;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn2 {
	background-color: rgba(255,255,0,.5);
}



