h1 a, h2 a {
	color: #DE781F;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header {
	background-color: #DE781F;
	width: 100%;
	padding: 20px 20px 20px 40px;
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
	color: #ffffff;
	font-size: 36pt;
	text-decoration:  none;
}

.content {
	margin-top: 20px;
	margin-left: 40px;
}

.date {
	color: #828282;
}

.post {
	margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
	color: #000000;
}